body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    
    width: 250px;
    padding: 20px;
    gap: 20px;

    border-radius: 5%;
    background-color: lightgrey;

}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: darkgrey;
    padding: 1px 10px;
    color: whitesmoke;
    height: 35px;
    border-radius: 12px;
}

.btn-grid {
    /* border: 2px solid green; */
    display: flex;
    flex-wrap: wrap;
}

.calc-container button {
    width: 25%;
    height: 35px;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-radius: 12px;
    font-size: 25px;
}

button#equals {
    width: 50%;
}

button.operator {
    background-color: orange;
}